<div class="container">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Warehouse Name*</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>     

      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Branch</label>

        <select class="form-select" aria-label="select tax type">
            <option selected>Type1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Attention</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Street1</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Street2</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">City</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Country/Region</label>

        <select class="form-select" aria-label="select tax type">
            <option selected>Type1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">State</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Zipcode</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Phone</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Email</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      

    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Submit</button>
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Cancel</button>
      </div>

    </div>
