<div class="container">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Tax Name*</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Rate(%)*</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Taxt type</label>

        <select class="form-select" aria-label="select tax type">
            <option selected>Type1</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
      

    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Submit</button>
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Cancel</button>
      </div>

    </div>
