<div class="container">
    <form [formGroup]="taxForm" (ngSubmit)="onSubmit()" >
    <div class="mb-3">
        <label for="taxName" class="form-label">Tax Name*</label>
        <input type="text" class="form-control" id="taxName" formControlName="taxName" placeholder="Example input placeholder">
      </div>
      <div class="mb-3">
        <label for="taxPercentage" class="form-label">Rate(%)*</label>
        <input type="text" class="form-control" id="taxPercentage" formControlName="taxPercentage" placeholder="Another input placeholder">
      </div>

      <div class="mb-3">
        <label for="taxSpecificType" class="form-label">Taxt type</label>

        <select class="form-select" aria-label="select tax type" formControlName="taxSpecificType">
            <option selected>Type1</option>
            <option value="One">One</option>
            <option value="Two">Two</option>
            <option value="Three">Three</option>
          </select>
      </div>
      

    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-sm buttonStyle" type="submit">Submit</button>
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Cancel</button>
      </div>
    </form>
    
    </div>
