<div class="container">
<form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
        <label for="inputState" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-10">
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
    </div>
</div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Credit note</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="CN-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="001">
          </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Journal</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="JE-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="001">
          </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Customer Payment</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="IP-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="001">
          </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Vendor Payment</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="OP-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="0001">
          </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Purchase Order</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="PO-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="00001">
          </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Sales Order</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="SO-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="000001">
          </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Retainer Invoice</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="RET-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="001">
          </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Vendor Credits</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="DN-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="00001">
          </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Bill of Supply</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="BOS-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="0001">
          </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Debit Note</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="CDN-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="00001">
          </div>
      </div>
      
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Invoice</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="IN-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="001">
          </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Estimate</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="PI-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="00001">
          </div>
      </div>

      
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Delivery Challan</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail3" placeholder="DC-">
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="00001">
          </div>
      </div>
      
  
    <!-- <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset> 
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>-->
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Submit</button>
        <button class="btn btn-secondary btn-sm buttonStyle" type="button">Cancel</button>
      </div>
  </form>
</div>