<ul class="nav">
    <li class="nav-item">
      <a routerLink="/tax" class="nav-link active" aria-current="page" href="#">Tax</a>
    </li>
    <li class="nav-item">
      <a routerLink="/taxExemptions" class="nav-link" href="#">Tax Exemptions</a>
    </li>
    <li class="nav-item">
      <a routerLink="/warehouse" class="nav-link" href="#">Warehouses</a>
    </li>
    <li class="nav-item">
        <a routerLink="/branch" class="nav-link" href="#">Branches</a>
    </li>
    <li class="nav-item">
        <a routerLink="/transactionSeries" class="nav-link" href="#">Transaction series</a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>

  <!-- <li>&nbsp;</li>
        <li>
          <a routerLink="/datasets" routerLinkActive="active"  id="dismiss">
            <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;
            Dataset view
          </a>
        </li>
        <li>&nbsp;</li> -->