/* You can add global styles to this file, and also import other style files */
    .row {
        margin-bottom:10px;
       }

       .buttonStyle {
        margin-right: 2% !important;
        margin-top: 0.5em !important;
        margin-bottom:  4% !important;
        display: block !important;
        border-radius: 10px !important;
        position:relative !important;
        float: right;
      }
      

